@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500&display=swap');

body{
    margin:0;
    font-family: 'Nunito', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height:100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-esquerda > h1{
    font-size: 3vw;    
    color:#a763f6;
    text-shadow:2px 1px 7px #cc00ff8f;
       
}

.imagem-esquerda{
    width: 30vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 25px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #a763f6;
    font-weight: 800;
    margin: 0%;
   
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline:none;
    box-sizing: border-box;
    
}

.textfield > label{
    color: white;
    margin-bottom: 10px;

}
/*a tag "::" serve para chamar o placeholder de dentro do input*/
.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background-color: #dc67f3;
    cursor:pointer;
    box-shadow: 0px 10px 40px #cc00ff8f;
}
/* "media queries" sao para ajudar na responsividade da pagina quanto aos 
valores que vão ser inseridos dentro delas"*/
/* de certa forma essa função diz que enquanto 
a tela for do valor inserido no "widht" ultilize os valores que serão inserdios 
posteriormente dentro da função.*/
@media only screen and (max-width:950px){
    .card-login{
        width: 85%;
    }
}

/*essa proxima "media querie" serve para adaptação em celulares ou telas menores*/
@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }
    .left-login>h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .imagem-esquerda{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
    
}
